Создайте .env файл с данными переменными для успешного запуска проекта

# Настройка Django
MY_SECRET_KEY='django-insecure-+l=m#eut=^h05wo0y@y1h_@89t+p@5fwjwrec#np^s_d_zr*+8'
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Выбор базы данных мужду POSTGRES и SQLITE
USE_SQLITE=False

# Настройка БД POSTGRES
POSTGRES_DB=birthdays
POSTGRES_USER=birthdays
POSTGRES_PASSWORD=birthdays_password
DB_HOST=db
DB_PORT=5432

# Настройка CELERY
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# Создание SUPERUSER
SUPERUSER_EMAIL=super_user@ya.com
SUPERUSER_PASSWORD=password_1234
SUPERUSER_FIRST_NAME=first_name
SUPERUSER_LAST_NAME=last_name
SUPERUSER_DATE_OF_BIRTH=2021-12-12
SUPERUSER_DEPARTMENT=department

# Настройка EMAIL рассылки
SEND_EMAILS=False # Сохраняет тестовые письма в папку.
EMAIL_HOST='smtp.yourprovider.com' 
EMAIL_PORT='Укажите порт'
EMAIL_HOST_USER='Введите ваш почтовый ящик: your-email@example.com'
EMAIL_HOST_PASSWORD='Укажите свой пароль'
