MY_SECRET_KEY='django-insecure-+l=m#eut=^h05wo0y@y1h_@89t+p@5fwjwrec#np^s_d_zr*+8'
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
USE_SQLITE=True
POSTGRES_DB=birthdays
POSTGRES_USER=birthdays
POSTGRES_PASSWORD=birthdays
DB_HOST=localhost
DB_PORT=5432

SUPERUSER_USERNAME=super_user
SUPERUSER_EMAIL=super_user@ya.com
SUPERUSER_PASSWORD=password