MY_SECRET_KEY='django-insecure-+l=m#eut=^h05wo0y@y1h_@89t+p@5fwjwrec#np^s_d_zr*+8'
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
USE_SQLITE=True
POSTGRES_DB=birthdays
POSTGRES_USER=birthdays
POSTGRES_PASSWORD=birthdays
DB_HOST=localhost
DB_PORT=5432

CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0

SUPERUSER_EMAIL=super_user@ya.com
SUPERUSER_PASSWORD=password

SEND_EMAILS=False
EMAIL_HOST='smtp.yourprovider.com' 
EMAIL_PORT='Укажите порт'
EMAIL_HOST_USER='Введите ваш почтовый ящик: your-email@example.com'
EMAIL_HOST_PASSWORD='Укажите свой пароль'